<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  parallel= "none" name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <class name= "com.testing.SampleExtentReport" />
   <!-- <class name= "com.testing.GoogleTest" />
    <class name= "com.testing.HardSoftAssertions" />
    <class name= "com.testing.CrossBrowser" />
    <class name= "com.testing.SampleTest1" />
    <class name= "com.testing.SampleTestAnnotations" />
    <class name= "com.testing.SampleTestNG"> 
    <methods>
    <exclude name="third"></exclude>
    </class>
    </methods>
    <class name= "com.testing.SampleTestNGfeatures">
    <methods>
    <include name ="loginTest"></include>
    </methods>
    </class> -->
    
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
